<IfModule mod_rewrite.c>
  RewriteEngine On

  # --- 1. HTTP Gelen İstekleri HTTPS'e Yönlendir ---
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # --- 2. React Router Yönlendirmesi (Sayfa yenileme sorunu için) ---
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>